 body{
        background-color: rgb(12, 11, 11);
    }
    h1{
        color: whitesmoke;
        text-align: center;
        font-size: 50px;
    }
    a{
        color: white;
    }
    img{
        text-align: center;
    }
    .center{
        text-align: center;
        width: 100%;
        

    }
    img{
        width: 300px;
    }
    